{% extends 'base.html' %}
{% block title %}New List{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Create a new List</h1>
        <h2>Time for a new list, {{ user.name }}?</h2>
        <form action="/list/create_list" method="post" class="mt-5">
            <div class="form-floating mb-3">
                <input type="text" id="name" name="name" class="form-control" placeholder="Name of the list" required>
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="description" name="description" class="form-control" placeholder="Description" required>
                <label for="description">Short description</label>
            </div>

            <button type="submit" class="btn btn-primary">Create now</button>
        </form>

    </div>
{% endblock %}