{% extends 'base.html' %}
{% block title %}List: {{ list.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex align-items-center"> <!-- Name and share button -->
            <h1 class="my-4 d-inline ">{{ list.name }}:</h1>
            <h3 class="text-body-secondary ps-3 pt-2 mb-0 align-self-center flex-grow-1">{{ list.description }} </h3>
        </div>

        <div class="card card-body">
            <!--<ul class="list-group">-->
                {% for item in items %}
                    {% if not item.disabled %}

                        <div class="d-flex mb-3" id="item_{{ item.oid }}">
                            <input type="checkbox" id="checkbox_{{ item.oid }}" {% if item.checked %}checked{% endif %} onclick="check('{{ item.oid }}', this.checked)">
                            <label class="visually-hidden" for="checkbox_{{ item.oid }}">Checkbox</label>
                            <form class="row ms-1 align-items-center flex-grow-1">
                                <div class="col-12">
                                    <label class="visually-hidden" for="text_input_{{ item.oid }}">Content</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="text_input_{{ item.oid }}" placeholder="Something to do" onKeyUp="activate_edit('{{ item.oid }}')" data-original_value="{{ item.content }}" value="{{ item.content }}">
                                        <div class="input-group-text btn btn-danger" id="reset_button_{{ item.oid }}" onclick="reset_item('{{ item.oid }}')" style="display:none;">
                                            <i class="bi bi-arrow-clockwise"></i>
                                        </div>
                                        <div class="input-group-text btn btn-success" id="edit_button_{{ item.oid }}" onclick="edit('{{ item.oid }}')" style="display:none;">
                                            <i class="bi bi-check2"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-danger mx-3" id="remove_button_{{ item.oid }}" onclick="remove('{{ item.oid }}')">
                                <i class="bi bi-trash3"></i>
                            </button>
                            <a class="btn btn-primary" href="/list_item/{{ item.oid }}" role="button">
                                <i class="bi bi-list"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            <!--</ul>-->
        </div>

        <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#disabledItemCollapse">
            <i class="bi bi-chevron-down me-2"></i>Deleted items
        </button>

        <div class="collapse" id="disabledItemCollapse">
            <div class="card card-body" id="disabledItemsContainer">
                    {% for item in items %}
                        {% if item.disabled %}
                        <div class="d-flex mb-3" id="item_{{ item.oid }}">
                            <input type="checkbox" id="checkbox_{{ item.oid }}" {% if item.checked %}checked{% endif %} disabled="disabled">
                            <label class="visually-hidden" for="checkbox_{{ item.oid }}">Checkbox</label>
                            <form class="row ms-1 align-items-center flex-grow-1">
                                <div class="col-12">
                                    <label class="visually-hidden" for="text_input_{{ item.oid }}">Content</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="text_input_{{ item.oid }}" placeholder="Something to do" value="{{ item.content }}" disabled="disabled">
                                    </div>
                                </div>
                            </form>
                            <a class="btn btn-primary" href="/list_item/{{ item.oid }}" role="button">
                                <i class="bi bi-list"></i>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>


        <hr class="my-5">


        <form class="my-4" action="/list_item/add/" method="post" id="newItemForm">
            <h2>Create a new item</h2>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="content" name="content" placeholder="Content" required>
                <label for="content">Content</label>
            </div>
            <div class="form-group form-check mb-3">
                <input type="checkbox" class="form-check-input" id="checked" name="checked">
                <label class="form-check-label" for="checked">Checked</label>
            </div>
            <input type="hidden" id="parent_list" name="parent_list" value="{{ list.oid }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="d-flex flex-row-reverse z-2 fixed-bottom" style="pointer-events: none;">
        {% if user.oid == list.owner_oid %}
            <!-- style="pointer-events: none;" causes the item to be clickable, even if its parent is not -->
            <a href="/invite/new/{{ list.oid }}" class="btn btn-primary m-4" style="pointer-events: auto;"><i class="bi bi-share h1"></i></a>
        {% endif %}
    </div>

    <script>
        function check(oid, checked) {
            var endpoint = "/list_item/check/";
            $("#checkbox_" + oid).checked = checked
            $.post(endpoint, { "oid": oid , "checked": checked}).done(function () {
                $("#" + oid).checked = checked
            }).fail(function () {
                make_toast("Error", "Could not toggle item.")
            });
        }

        function remove(oid) {
            var endpoint = "/list_item/disable/";
            $.post(endpoint, { oid: oid}).done(function () {
                $("#remove_button_" + oid).hide()
                $("#item_" + oid).appendTo("#disabledItemsContainer");
                $("#checkbox_" + oid).prop('disabled', true);
                $("#text_input_" + oid).prop('disabled', true);
            }).fail(function () {
                make_toast("Error", "Error removing list item.")
            });

        }

        function activate_edit(oid) {
            $("#edit_button_" + oid).show()
            $("#reset_button_" + oid).show()
        }

        function edit(oid) {
            var endpoint = "/list_item/edit/";
            var input = $("#text_input_" + oid)


            if(input.val() != ""){
                $.post(endpoint, { "item_oid": oid, "new_content": input.val()}).done(function () {
                    $("#edit_button_" + oid).hide()
                    $("#reset_button_" + oid).hide()
                    input.data("original_value", input.val())
                }).fail(function () {
                    make_toast("Error", "Error editing item.")
                });
            }
            else{
                make_toast("Error", "The new content can not be empty.")
            }


        }

        function reset_item(oid){
            var input = $("#text_input_" + oid)
            input.val(input.data("original_value"))
            $("#edit_button_" + oid).hide()
            $("#reset_button_" + oid).hide()
        }
    </script>
{% endblock %}