{% extends 'base_min.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="post" class="mt-5">
            <div class="form-floating mb-3">
                <input type="text" id="username" name="username" class="form-control" placeholder="Name" maxlength="25" required>
                <label for="username">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" id="email" name="email" class="form-control" placeholder="Name" maxlength="100" required>
                <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="Name" maxlength="32" required>
                <label for="password">Password</label>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}
